<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties>
        <property name="dialect" value="MYSQL"/>
    </properties>

    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25000"/>
        <setting name="cacheEnabled" value="false"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>

    <typeAliases>
        <typeAlias alias="Salary" type="com.yanhuan.yhssm.domain.pojo.Salary"/>
        <typeAlias alias="Bill" type="com.yanhuan.yhssm.domain.pojo.Bill"/>
        <typeAlias alias="BillSubMain" type="com.yanhuan.yhssm.domain.pojo.BillSubMain"/>
        <typeAlias alias="BillSubDetail" type="com.yanhuan.yhssm.domain.pojo.BillSubDetail"/>
        <typeAlias alias="OrderMain" type="com.yanhuan.yhssm.domain.pojo.OrderMain"/>
        <typeAlias alias="OrderDetail" type="com.yanhuan.yhssm.domain.pojo.OrderDetail"/>
        <typeAlias alias="SalaryCondition" type="com.yanhuan.yhssm.domain.condition.SalaryCondition"/>
        <typeAlias alias="OrderMainCondition" type="com.yanhuan.yhssm.domain.condition.OrderMainCondition"/>
        <typeAlias alias="OrderDetailCondition" type="com.yanhuan.yhssm.domain.condition.OrderDetailCondition"/>
        <typeAlias alias="BillCondition" type="com.yanhuan.yhssm.domain.condition.BillCondition"/>
        <typeAlias alias="BillSubMainCondition" type="com.yanhuan.yhssm.domain.condition.BillSubMainCondition"/>
        <typeAlias alias="BillSubDetailCondition" type="com.yanhuan.yhssm.domain.condition.BillSubDetailCondition"/>
        <typeAlias alias="UserCondition" type="com.yanhuan.yhssm.domain.condition.UserCondition"/>
        <typeAlias alias="UrlInvokeCondition" type="com.yanhuan.yhssm.domain.condition.UrlInvokeCondition"/>
        <typeAlias alias="User" type="com.yanhuan.yhssm.domain.pojo.User"/>
        <typeAlias alias="UrlInvoke" type="com.yanhuan.yhssm.domain.pojo.UrlInvoke"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!-- 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库-->
            <property name="dialect" value="mysql"/>
            <property name="offsetAsPageNum" value="false"/>
            <property name="rowBoundsWithCount" value="false"/>
            <property name="pageSizeZero" value="true"/>
            <property name="reasonable" value="false"/>
            <property name="supportMethodsArguments" value="false"/>
            <property name="returnPageInfo" value="none"/>
        </plugin>
        <plugin interceptor="com.yanhuan.yhssm.mybatis.interceptors.SQLWhereInterceptor"/>
    </plugins>

    <!-- mapper文件 -->
    <mappers>
        <mapper resource="mapper/SalaryMapper.xml"/>
        <mapper resource="mapper/OrderMainMapper.xml"/>
        <mapper resource="mapper/OrderDetailMapper.xml"/>
        <mapper resource="mapper/BillMapper.xml"/>
        <mapper resource="mapper/BillSubMainMapper.xml"/>
        <mapper resource="mapper/BillSubDetailMapper.xml"/>
        <mapper resource="mapper/TestInMapper.xml"/>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/UrlInvokeMapper.xml"/>
    </mappers>

</configuration>
