<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myClass" class="com.yanhuan.yhssm.domain.BaseDomain">
        <property name="id" value="1"/>
        <property name="createUser" value="yanhuan"/>
        <property name="updateUser" value="yanhuan"/>
        <property name="createTime" value="2019-03-01 16:15:01"/>
        <property name="updateTime" value="2019-03-01 16:16:02"/>
        <property name="isDelete" value="0"/>
    </bean>

</beans>